{% extends 'PersonalF/base.html'%}

{% block body%}
<h1>Budget Finance</h1>
<div>
    <a href="{% url 'income'%}">Back to incomes</a>

</div>
    <div>List the budget you have for example bills, grocery etc... 
        <form action="{% url 'budget'%}" method="post">
            {% csrf_token%}
            {{ budget }}
            <input type="submit">
        </form>
    </div>
    <div>
        <ul>
            {% for bul in bulist %}
            <li>
                {{ bul.name }}
            </li>
            <li>
                <a href="{% url 'gdelete' bul.id  %}">Delete</a>
            </li>

            {% empty %}
            <li>no Budget</li>
            {% endfor%}
        </ul>
    </div>
<div>
    
    <a href="{% url 'details'%}">Go to details</a>
    
</div>
{% endblock %}