{% extends 'PersonalF/base.html'%}

{% block body%}
<a href="{% url 'M-list' %}" style="margin: 3rem; padding: 0rem 2rem;"><h3>Back</h3></a>
<div class="body">
    <div class="flex__center app__bg section__padding" style="width: 100%;">
        <div class="subbody flex__center">

<h1>Name: {{object}} Details</h1>
<div >
    {% if object.catagory_name %}
    <p>{{object.catagory_name}}</p>
    {% else %}
    <p>{{object.budget_type}}</p>
    {% endif %}
    <p>Amount of cash: ${{object.amount}}</p>
    <p>{{object.date}}</p>
</div>
</div>
</div>
</div>
{% endblock %}