{% extends 'PersonalF/base.html'%}

{% block body%}
<h1>Personal Finance</h1>
<div>This is a Personal Finance App. You can use it to plan your monthly budget, depending on your income and calculate your expences to have a stable Finance.</div>
<ul>
    <li>First insert your income. </li>
    <li>Then your budget plan.</li>
    <li>After that just insert your Daily expences and the app will show you your Financial health.</li>
</ul>
<div><a href="{% url 'income' %}">Start</a></div>
{% endblock %}